[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.aws-lambda" = "*"
"aws-cdk.aws-lambda-python" = "*"
"aws-cdk.aws-apigateway" = "*"
"aws-cdk.aws-cognito" = "*"
"aws-cdk.pipelines" = "*"
dynaconf = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
